body {
  font-size: 16px;
}
h1{
  text-transform: uppercase;
  color: #084436;
  border-bottom: 3px solid #00F462 ;
}
form button.btn {
  background-color: #E8680C;
  color: white;
  text-transform: uppercase;
}
/*Header*/
#header {
  background: url('../img/backgroundpet.png');
  text-align: center;
}
#header img {
  width: 40%;
  min-width: 250px;
}
.navbar a.navbar-brand img{
  width: 200px;
}
.navbar .navbar-nav {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}

/*Contacto*/
#contacto {
  padding-bottom: 100px;
}

/*Cadastro User*/
#cadastrouser img {
  width: 80%;
  min-width: 300px;
}

/*Dashboard User*/
.user-foto {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
}

/*Footer*/
#footer {
  position: fixed-bottom;
  background-color: #19ADFF;
  color: white;
  font-family: 'Mulish', sans-serif;
  flex-direction: row;
  padding: 2px 10px;
}
#footer p a.voltar i {
  padding-right: 0;
  font-size: 1em;
}
#footer p a.voltar  {
  white-space: nowrap;
}
#footer a  {
  margin-left: auto;
  color: #bfe4f8;
}
#footer a:hover  {
  color: #084436;
}
#footer a i {
  padding: 10px;
  font-size: 2em;
}